<div class="row mt-5">
  <!--<div class="col d-flex justify-content-center">
               <img src="img/logo-anim.gif" alt="Vault" class="logo" height="80" width="120" /> 
            </div>
			-->
</div>
<div class="row mt-5 justify-content-end motor-quote">
  <div class="col-lg-6 col-md-8 col-sm-12 mt-5 text-center">
    <h1 class="display-4 text-primary">Income Protection Claim</h1>
    <div class="row mt-3">
      <div class="col-md-4 col-lg-4"></div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <p class="text-muted">
          Make a claim with our simple, positive and personalized process.
          Our team have the creativity, flexibility, availability and willingness to assist.
        </p>
      </div>
      <div class="col-md-4 col-lg-4"></div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <div class="mb-3">
          <img src="assets/img/fb-login.png" alt="Login with Facebook" height="42">
        </div>
        <div>
          <a routerLink="/claim" class="btn btn-primary">CLAIM NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home">
  <img src="assets/img/income_protection.jpg" alt="Home" class="home-image">
</div>