/* Select 2 styling for Argon */
.select2-container--default .select2-selection--single {
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
    color: #8898aa;
    border: 1px solid #cad1d7;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 41px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: inherit;
}